---
import { type CollectionEntry, getCollection } from "astro:content";
import { Picture } from "astro:assets";

import { getGithubRepos, type GithubRepo } from "@/lib/utils";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import Pill from "@/components/Pill.astro";
import Icon from "@/components/Icon.astro";
import ContactCTA from "@/components/ContactCTA.astro";

interface Props {
  entry: CollectionEntry<"web">;
  showcases: GithubRepo[];
  shortstacks: GithubRepo[];
}

type RepoProps = Pick<Props, "showcases" | "shortstacks">;

export async function getStaticPaths() {
  const { showcases, shortstacks }: RepoProps = await getGithubRepos();

  const web = await getCollection("web");
  return web.map((entry: { slug: any }) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
      showcases,
      shortstacks,
    },
  }));
}

const { entry, showcases, shortstacks } = Astro.props;
const { Content } = await entry.render();

// Helper function to find repo data
const findRepoData = (repoName: string) => {
  return (
    showcases.find((repo) => repo.name === repoName) ||
    shortstacks.find((repo) => repo.name === repoName)
  );
};

const repoData = findRepoData(entry.data.title);

const description = repoData?.description || entry.data.description;
const url = repoData?.homepage || entry.data.url;
const githubUrl = repoData?.html_url || entry.data.github;
const topics = repoData?.topics || entry.data.tags;

// capitalize the first letter of each topic
const capitalizedTopics = topics?.map(
  (tag: string) => tag.charAt(0).toUpperCase() + tag.slice(1),
);
// filter out the showcase and shortstack tags on Github
const filteredTopics = capitalizedTopics?.filter(
  (tag: string) => tag !== "Showcase" && tag !== "Shortstack",
);

// format the title to uppercase dks and replace the dashes with spaces and capitalize the first letter of each word
const formattedTitle = entry.data.title
  .replace(/dks-/g, "DKS ")
  .replace(/-/g, " ")
  .replace(/\b\w/g, (c: any) => c.toUpperCase());

// format the topics to change -api to API
const formattedTopics = filteredTopics?.map((tag: string) =>
  tag
    // if includes js at end replace with .js
    .replace(/js$/g, ".js")
    .replace(/-ui/g, " UI")
    .replace(/-api/g, " API")
    .replace(/cms/g, " CMS")
    .replace(/Buildinpublic/g, "Build In Public")
    .replace(/Aws/g, "AWS")
    .replace(/-/g, " "),
);
---

<BaseLayout title={formattedTitle} description={description}>
  <div class="stack gap-20">
    <div class="stack gap-16">
      <header>
        <div class="stack container gap-2">
          <a class="back-link" href="/web/"
            ><Icon icon="arrowLeft" /> Web Projects</a
          >
          <Hero
            title={formattedTitle}
            url={url}
            githubUrl={githubUrl}
            align="start"
          >
            <div class="details w-full">
              <div class="tags">
                {formattedTopics?.map((t: unknown) => <Pill>{t}</Pill>)}
              </div>
              <p class="description">{description}</p>
            </div>
          </Hero>
        </div>
      </header>
      <main class="container">
        <div class="stack content gap-10">
          {
            entry.data.img && (
              <Picture
                src={entry.data.img}
                alt={entry.data.img_alt || ""}
                width={800}
                height={800}
                loading="eager"
              />
            )
          }
          <div class="prose-lg m-auto max-w-3xl lg:prose-xl prose-p:mt-3">
            <Content />
          </div>
        </div>
      </main>
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  header {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--stone-800);
  }

  .back-link {
    display: none;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  .description {
    font-size: var(--text-lg);
    max-width: 54ch;
    text-align: right;
  }

  .back-link {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .back-link:hover,
  .back-link:focus {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .back-link {
      display: block;
      align-self: flex-start;
    }

    .details {
      flex-direction: row;
      gap: 2.5rem;
    }
  }
</style>
